
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green" style="text-align:center">
            <span class="caption-subject bold"> Price Terms</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-group form-md-radios">
            <div style="text-align: center;">
                <div class="md-radio">                    
                    <label for="rbtnBank">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span> FOB India
                    </label>
                    <input type="radio" id="rbtnPriceterms" value="1" ng-model="buyerInfo.priceTerm" rConsignee
                           name="priceTerms" class="md-radiobtn" />
                </div>
                <div class="md-radio">
                        <label for="rbtnConsignee">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span> CIF  by Sea
                    </label>
                    <input type="radio" id="rbtnPriceterms" value="1" ng-model="buyerInfo.priceTerm" rConsignee
                           name="priceTerms" class="md-radiobtn" />
                </div>
                <div class="md-radio">                   
                    <label for="rbtnConsignee">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span> CIF By AIR

                    </label>
                        <input type="radio" id="rbtnPriceterms" value="1" ng-model="buyerInfo.priceTerm" rConsignee
                               name="priceTerms" class="md-radiobtn" />
                </div>
                <div class="md-radio">
                    <label for="rbtnConsignee">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span> FOR Destination
                    </label>
                    <input type="radio" id="rbtnPriceterms" value="1" ng-model="buyerInfo.priceTerm" rConsignee
                           name="priceTerms" class="md-radiobtn" />
                </div>
                </div>
                <a href="javascript:;" class="btn green button-submit pull-left" ng-click="buyerStep7Ctrl.previousStep()">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
                <a href="javascript:;" class="btn green button-submit pull-right" ng-click="buyerStep7Ctrl.nextStep()">
                    Next
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>

    </div>
