
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green" style="text-align:center">
            <span class="caption-subject bold"> Payment Terms</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form role="form" name="frmPriceInfo" novalidate>
            <div class="form-body">
                <div class="form-group form-md-radios">
                    <div class="md-radio-list" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pull-right">
                                100% with PO
                                    </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-radio">
                                    <input type="radio" id="rbtnFob" value="true" ng-model="buyerPriceTermDetails.bpt_100_advance"
                                           name="paymentTerms" class="md-radiobtn" />
                                    <label for="rbtnFob">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pull-right">
                                    50% with PO + 50% against Delivery
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-radio">
                                        <input type="radio" id="rbtnSea" value="true" ng-model="buyerPriceTermDetails.bpt_50_adv_50_againstDocs"
                                               name="paymentTerms" class="md-radiobtn" />
                                        <label for="rbtnSea">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pull-right">
                                    100% against Delivery
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="md-radio">

                                        <input type="radio" id="rbtnAir" value="true" ng-model="buyerPriceTermDetails.bpt_100_againstDocs"
                                               name="paymentTerms" class="md-radiobtn" />
                                        <label for="rbtnAir">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>

                                        </label>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pull-right">
                                    No of Days from Inv date
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="md-radio">
                                        <input type="radio" id="rbtnDest" value="true" ng-model="buyerPriceTermDetails.noofDaysfromInvoice"
                                               name="paymentTerms" class="md-radiobtn" />
                                        <label for="rbtnDest">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <a href="javascript:;" class="btn green button-submit pull-left" ng-click="buyerStep8Ctrl.previousStep()">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
                <a href="javascript:;" class="btn green button-submit pull-right" ng-click="buyerStep8Ctrl.lastStep()">
                    Finish 
                </a>
            </div>
        </form>
    </div>
</div>

