
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green" style="text-align:center">
            <span class="caption-subject bold"> Notify Details</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div style="text-align:center">
            <div class="md-checkbox has-success" style="display:inline-block">
                <input type="checkbox" ng-model="notifySameAsBuyer" id="notifySameAsBuyer" class="md-check" ng-change="OnNotifySameAsBuyer()" />
                <label for="notifySameAsBuyer">
                    * Notify same as buyer
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                </label>
            </div>
        </div>
        <form role="form" name="frmUserInfo" novalidate>
            <div class="form-body">
                <div class="form-group form-md-line-input">
                    <input type="text" class="form-control" required ng-model="buyerInfo.notifyName" />
                    <label for="form_control_1">
                        Notify
                        <span class="required" aria-required="true">*</span>
                    </label>
                </div>
                <div class="form-group form-md-line-input">
                    <input type="text" id="txtAddrLn1" class="form-control" ng-model="buyerInfo.nAddressLine1" />
                    <label for="txtAddrLn1">Address Line 1</label>
                </div>
                <div class="form-group form-md-line-input">
                    <input type="text" id="txtAddrLn2" class="form-control" ng-model="buyerInfo.nAddressLine2" />
                    <label for="txtAddrLn2">Address Line 2</label>
                </div>
                <div class="form-group form-md-line-input">
                    <input type="text" id="txtCity" class="form-control" ng-model="buyerInfo.nCity" />
                    <label for="txtCity">City</label>
                </div>
                <div class="form-group form-md-line-input">
                    <input type="text" id="txtState" class="form-control" ng-model="buyerInfo.nState" />
                    <label for="txtState">Province/State</label>
                </div>
                <div class="form-group form-md-line-input">
                    <input type="text" id="txtzipcode" class="form-control" ng-model="buyerInfo.nPincode" />
                    <label for="txtzipcode">Zip Code</label>
                </div>
                <div class="form-group form-md-line-input">
                    <input type="text" id="txtCountry" class="form-control" ng-model="buyerInfo.nCountry" />
                    <label for="txtCountry">Country</label>
                </div>
                <a href="javascript:;" class="btn green button-submit pull-left" ng-click="buyerStep4Ctrl.previousStep()">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
                <a href="javascript:;" class="btn green button-submit pull-right" ng-click="buyerStep4Ctrl.nextStep()">
                    Next
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </form>
    </div>
</div>
